@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


body {
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

button,input{
  font-family: inherit;
  background: none;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  padding: 0.5rem 1rem;
}
button{
  background-color: #0D3349 ;
  color: #fff;
  cursor: pointer;
  &:hover{
    opacity: 0.8;
  }
}

