
.loading-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.spinner {
  height: 14rem;
  width: 14rem;
  border: 20px solid rgb(53, 112, 154);
  border-left: 20px solid rgb(16, 64, 98);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin infinite 1.5s linear;
}

.spinner-text {
  position: absolute;
  font-size: 14px;
  color: rgb(54, 54, 54);
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: sans-serif;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
