@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


body {
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}


.forecast {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.day-card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;

  img {
    width: 17vw;
  }

  .date {
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
  }

  .temperature {

  }

  .max {

  }

  .min {
    color: #6d6d6d;
  }

  .description {
    font-weight: 200;
  }

}
