<li>
  <img alt="ssss" />
  <span class="date">{{timestamp-to-date @date}}</span>
  <div class="temperature">
    <span class="max">36</span>
    <span class="min">22</span>
  </div>
  <span class="description">overcast clouds</span>
</li>