<div class="search-bar">
  <label>Location:
    <Input @value={{this.locationId}} {{on "keyup" this.onKeyUp}} />
  </label>
  <button type="button" {{on "click" this.searchLocation}}>Search</button>
</div>
